body {
    color: #bfc1c8;
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    background: #1e202b;
}


.first-color {
    background-color: #2d303d;
}

.second-color {
    background-color: #323544;
}

.third-color {
    background: #222530;
}

.fourth-color {
    background-color: #262936;
}

.color-gray {
    color: #bfc1c8;
}

.text-light-blue {
    color: #009ad8;
}

.text-light-orange {
    color: #cc910d;
}

h3 {
    color: white;
}

h5 {
    color: #bfc1c8;
}

